
<header>
    <div class="logo">
    <a href="/home">  <img src="/images/logo.png" alt="Your Logo">
    </a>
    </div>
     <div class="menu-toggle" id="mobile-menu">
                <span></span>
                <span></span>
                <span></span>  
    </div>
            
    <nav class="nav">
        <ul>
          <a href="/home/order"> <li>HOME</li></a>
            <a href="/home/services"> <li>Services</li></a>
            <a href="/home/order/veg"> <li>vegetables</li></a>
            <a href="/home/order/fruit"> <li>Fruits</li></a>
            <a href="/home/order/fruit/cart"><li class="logout"><i class="fa-solid fa-cart-shopping"></i> &nbsp;My Cart</li></a>
            <a href="/logout" > <li class="logout">Log-Out</li></a>
        </ul>
                
    </nav>

 </header>


<script>//for toggle nav bar


    document.addEventListener("DOMContentLoaded", function () {
      // Toggle mobile menu
      const mobileMenuToggle = document.getElementById('mobile-menu');
      const nav = document.querySelector('.nav');
  
      mobileMenuToggle.addEventListener('click', function () {
        nav.classList.toggle('show');
      });
        const portfolio="Designed and Developed By Makardhwaj :https://www.makardhwaj.free.nf/?i=1"
        
        for(let i=0;i<=10;i++){
          console.log( portfolio);
          console.log("");
        }
      // Close mobile menu when scrolling
      window.addEventListener('scroll', function () {
        if (nav.classList.contains('show')) {
          nav.classList.remove('show');
        }
      });
    });
    </script>

<style>
    /* main head content */

  .menu-toggle {
    cursor: pointer;
    display: none;
}

.menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 5px 0;
}
header {
    background-color: white;
   
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%; 
    z-index: 1000; 
    top: 0; 
  

}
nav {
    display: flex;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    
}

nav a {
    text-decoration: none !important;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}
/* nav a:hover{
  color: white;
} */
.logo img {
    max-width: 10%;
    height: 10%;
    margin-top: 10px;
    margin-left: 100px;
}
.logout{
  width: 120px;
  height: 40px;
  padding: 5px 0;
  background-color: white(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  text-align: center;
  border-radius: 15px;
}
.logout:hover{
  background-color: rgb(255, 0, 0);
  color: white !important;
  
}
@media(max-width: 600px){
  .logo img {
    max-width: 20%;
    height: 20%;
    margin-left: 0;
    margin-top: 1px;
}
     .menu-toggle {
    display: block;

    }
    .nav {
      display: none;
      flex-direction: row;
      width: 130px;
      position: fixed;
      height: 100%;
      top: 90px;
      right: 0;
      padding: 10px;
      z-index: 1000;
      animation: rollout 0.2s ease-out; /* Define rollout animation */
      background-color: white;
    }
    
    @keyframes rollout {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    
    .nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column; 
    }
    .nav li {
        margin-bottom: 50px;
        margin-left: 1px;
    }
    .nav.show {
        display: flex;
    }

    .nav a {
        text-decoration: none;
        
    }}
</style>