<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Thank You</title>

	<!-- Bootstrap stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


	<!-- css stylesheet -->
	<link rel="stylesheet" type="text/css" href="/thanku.css">

	 <!-- Font Awesome for apple/play logo -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>
	<img class="nmskr" src="/images/nmskr.png">
	<h1>Thank You for Ordering from Us !</h1>
	<i class=" icon fas fa-check-circle"></i>
	<h4>Your order has been successfully Ordered and <br> it will delivers to you within a Hour!</h4>
	<h4 class="h4_pva">Please visit again !!</h4>
	
	<a href="/home"><button class="btn btn-outline-success btn-lg" >Go to Home</button></a>

	

<div class="col-lg-12">
	<div class="copyright">
	  <p>
		Copyright © 2023 Vegetables & Fruits. All Rights Reserved.
		<br />
		Developed by
		<a
		  rel="nofollow"
		  href=""
		  
		  >Makardhwaj</a
		>
	  </p>
	</div>
  </div>

</body>
</html>