body{
	text-align: center;
}

	.title{
		margin-top: 50px;
		color: red;
		/* margin-left: 30rem; */
		text-align: center;
		background-image: url('ordertitle.jpg');
		-webkit-background-clip: text; 
	   color: transparent; 
	   font-size: 50px;
		text-fill-color: transparent; 
	}
.card{
	margin-left: 70px;
	margin-top: 80px;
	padding-bottom: 20px;
}
.veg_img{
	height: 170px;
}
.fruit_img{
	height: 170px;
}
.veg_last{
	/*padding-bottom: 50px;*/
}
.price{
	margin-top: -10px;
	margin-bottom: 25px;
}