body{
	background-color: #708090;
}
.home_fruit_img{
	width: 935px;
}
.system_name{
	margin-left: 420px;
	margin-top: 180px;
	/*text-align: center;*/
}
.name1{
	width: 600px;
	margin-bottom: -10px;
	font-size: 60px;
	color: #fff;
}
.name2{
	width: 300px;
	margin-left: 150px;
	color: #fff;
}

.btn{
	margin-left: 180px;
	margin-top: 30px;
	color: #fff;
	outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #151515;
}

